
Output/

REKT/.vs/
REKT/VisualGDB/

REKTUI/OxyPlot/bin/
REKTUI/OxyPlot/obj/
REKTUI/OxyPlot.WindowsForms/bin/
REKTUI/OxyPlot.WindowsForms/obj/
REKTUI/REKTUI/bin/
REKTUI/REKTUI/obj/

*.sdf
*.suo
*.opensdf
*.opendb
*.db
*.ipch
*.pdb
*.log
